body {
    margin: 0px;
    font-family: "Fira Mono", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: #26a69a;
    font-size: 12pt;
}

.board {
    width: 500px;
    height: 500px;
}

.row {
    width: 100%;
    height: 33%;
}

.cell {
    float: left;
    background-color: #ff6e40;
    height: 100%;
    width: 33%;
    outline: 1px solid black;
    position: relative;
}


.marker {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 100pt;
}

.board {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameResults {
    position: absolute;
    top: 30;
    left: 50%;
    transform: translate(-50%);
}

.restart {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 150px;
    text-align: center;
    font-size: 20pt;
    color: black;
    background-color: #ffd54f;
}
